.adventcalender {
    margin-bottom: 60px;
    a:hover {
        text-decoration: none;
    }

    h2 {
        background: #930404;
        text-align: center;
        margin: 20px -22px 0;
        font-size: 2em;
        color: #F5F5F5;
        font-family: "Vollkorn";
        padding-top: 6px;
        box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
        position: relative;

        &:before, &:after {
            border-color: #5b0303 transparent transparent transparent;
            position: absolute;
            display: block;
            border-style: solid;
            bottom: -20px;
            content: '';
            z-index: -2;
        }

        &:before {
            left: 0;
            border-width: 20px 0 0 25px;
        }

        &:after {
            right: 0;
            border-width: 20px 25px 0 0;
        }
    }

    ul {
        text-align: center;

        li {
            display: block;
            float: left;
            width: 33.33%;

            @media all and (min-width: $bp-med) {
                width: 16.66%;
            }
        }

        .door {
            background: $white;
            padding: 28px 0;
            font-family: Vollkorn;
            font-size: 36px;
            color: $pink;

            &.open {
                background-size: cover;
                border-color: #930404;
                background-position: center;
            }
        }
    }

    li:nth-child(1),
    li:nth-child(4),
    li:nth-child(20) {
        width: 66.66%;

        @media all and (min-width: $bp-med) {
            width: 33.33333334%;
        }

        .door {
            padding: 83px 0;
        }
    }

    li:nth-child(4),
    li:nth-child(20) {
        float: right;
    }

    li:nth-child(7),
    li:nth-child(16),
    li:nth-child(18) {
        width: 66.66%;

        @media all and (min-width: $bp-med) {
            width: 33.33%;
        }
    }

    li:nth-child(4),
    li:nth-child(8),
    li:nth-child(12),
    li:nth-child(16),
    li:nth-child(15),
    li:nth-child(24),
    li:nth-child(22) {
        .door {
            background-color: $light-pink;
            color: #F5F5F5;
        }
    }

    li:nth-child(3),
    li:nth-child(5),
    li:nth-child(9),
    li:nth-child(13),
    li:nth-child(11),
    li:nth-child(21),
    li:nth-child(18),
    li:nth-child(20) {
        .door {
            background-color: $pink;
            color: #F5F5F5;
        }
    }
}

// Snowflakes Config
$flakes: 150; // match flakes in mark up
$snowColor: #ffffff;

// Mixins
@mixin keyframes($name) {
    @-webkit-keyframes $name { @content; }
    @-moz-keyframes $name { @content; }
    @-o-keyframes $name { @content; }
    @keyframes $name { @content; }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}

// Let it snow
.snow {
    position: relative;
    width: 100%;
    height: 100%;
}

.flake {
    position: absolute;
    border-radius: 50%;
    @include transform(translateY(0) rotateX(0) rotateY(0));
    background:
        linear-gradient(180deg,
            rgba(255,255,255,0) 30%,
            $snowColor 50%,
            $snowColor 60%,
            rgba(255,255,255,0) 60%),
        linear-gradient(90deg,
            rgba(255,255,255,0) 30%,
            $snowColor 50%,
            $snowColor 60%,
            rgba(255,255,255,0) 60%),
        linear-gradient(45deg,
            rgba(255,255,255,0) 33%,
            $snowColor 53%,
            $snowColor 57%,
            rgba(255,255,255,0) 65%),
        linear-gradient(135deg,
            rgba(255,255,255,0) 33%,
            $snowColor 53%,
            $snowColor 57%,
            rgba(255,255,255,0) 65%);
}

@for $i from 1 through $flakes{
    $flakeWidth: 5 + random(15); // Flake size
    $flakeHeight: $flakeWidth;
    $flakeVertical: -100 + random(700);
    $flakeHorizontal: random(100);
    $flakeBlur: 2 + random(2);
    $flakeDelay: 15 + random(55); // Flake speed

    .flake:nth-child(#{$i}){
        width: $flakeWidth + px;
        height: $flakeHeight + px;
        top: $flakeVertical + px;
        left: #{$flakeHorizontal + "%"};
        opacity: (50 + random(50)) * 0.01;
        filter: blur($flakeBlur + px );
        @include animation(#{$flakeDelay + s} flakes linear infinite);
    }
}

@keyframes flakes {
    100%{
        @include transform(translateY(1000px) rotateX(10 + random(40) + deg) rotateY(10 + random(40) + deg));
        opacity: 0;
    }
}
