article.post,
.single article.weeklies,
.about-me-page,
.single article.ame_project  {

    header {
        height: 250px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        position: relative;

        @media all and (min-width: $bp-small-2) {
            height: 350px;
        }

        @media all and (min-width: $bp-med) {
            height: 500px;
        }

        &::before {
            content: "";
            position: absolute;
            border: 10px double rgba(255, 255, 255, 0.4);
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }

    .meta {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;

        time,
        .author,
        .categories {
            display: inline-block;
            padding: 0 7px;
        }

        a {
            color: #43837B;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .read-more {
        display: none;
    }
}

.about-me-page header {
    height: 150px;

    @media all and (min-width: $bp-small-2) {
        height: 250px;
    }

    @media all and (min-width: $bp-med) {
        height: 400px;
    }
}

.post-content,
#comments,
#respond,
.related-posts,
.page-content {
    background: white;
    padding: 25px 5px;
    box-shadow: 0 5px 4px -4px rgba(190,190,190,.4);
    margin-bottom: 80px;

     img[class*="wp-image"] {
        width: 100%;
    }

    @media all and (min-width: $bp-med) {
        padding: 25px 35px;
    }
}

.entry-summary,
.entry-content {
    max-width: 760px;
    margin: 35px auto;
    line-height: 24px;

    p.excerpt {
        margin: 12px 0;
    }
}

.entry-content {

    p {
        padding: 5px 0;
        line-height: 28px;
    }

    img[class*="wp-image"] {
        margin: 1rem 0;
    }

    ul:not([class*="block-grid-"]), ol {
        list-style-type: circle;
        margin: 1em 0;

        @media all and (min-width: $bp-med) {
            padding-left: 40px;
        }
    }
}

.read-more {
    display: block;
    text-align: center;
    margin: 35px 0 0;
    text-transform: uppercase;

    a {
        text-decoration: none;
        border: 1px solid $gray-light;
        padding: 8px 16px;
        display: inline-block;
        @include transition(all, .3s, ease);

        &:hover {
            color: $white;
            background-color: $brand-primary;
            @include transition(all, .3s, ease);
        }
    }
}

article.post h2,
article.post h1,
article.weeklies h1,
.page-header h1,
article.ame_project h1,
h3 {
    text-align: center;
    overflow: hidden;
    
    a,
    span {
        position: relative;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 1px solid;
            border-color: rgba(20, 75, 106, 0.25);
            width: 591px;
            margin: 0px 14px;
        }

        &::before {
            right: 100%;
        }

        &::after {
            left: 100%;
        }
    }
}

#comments {
    ol, ul {
        list-style: none;
    }

    img.avatar {
        margin: 0 10px 5px 0;
    }

    ol > li {
        padding-bottom: 10px;
        margin-bottom: 30px;

        &:last-child {
            border: none;
        }
    }

    .media-body {
        word-wrap: break-word;
    
        @media all and (min-width: $bp-med) {
            padding-left: 74px;
        }
    }

    .media-comment {
        padding: 12px 0;
    }

    .media-date {
        font-size: 12px;
    }

    p {
        margin: 6px 0;
    }
}

ul.depth-1 {

    li {
        padding: 25px 35px 25px 25px;
        margin: 10px 0;
        background: rgba(20, 75, 106, 0.15);
        margin-right: -35px;
        word-wrap: break-word;
    }
}

.pager {
    list-style: none;
    overflow: hidden;

    li {
        padding: 0 12px;
        font-size: 14px;
    }

    i {
        color: #C2615F;
    }
}

.wpp-list {
    list-style: none;

    li {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .wpp-thumbnail {
        margin-right: 12px;
        float: left;

        @media all and (min-width: $bp-med) and (max-width: $bp-large-2) {
            float: none;
            display: block;
        }
    }

    .wpp-post-title {
        font-size: 14px;
        color: #43837B;

        &:hover {
            color: #43837B;
        }
    }
}

.comment-reply-box {
    text-align: right;
    color: #C2615F;
    font-size: 14px;
}


ol {
    counter-reset: li;
}

.numbered-list {
    background-image: -webkit-linear-gradient(top, #eee 1px, transparent 1px);
    background-image: -moz-linear-gradient(top, #eee 1px, transparent 1px);
    background-image: -ms-linear-gradient(top, #eee 1px, transparent 1px);
    background-image: -o-linear-gradient(top, #eee 1px, transparent 1px);
    background-size: 100% 24px;
    background-position: 0 -1px;
    background-color: #fff;
    margin: 30px auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 52px 15px 52px 25px;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

    @media all and (min-width: $bp-med) {
        padding: 52px 40px;
    }

    > li {
        list-style: none;
        position: relative;
        margin: 0 0 24px 20px;

        &::before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -2.2em;
            top: -.3em;
            background-color: #ffd797;
            height: 1.7em;
            width: 1.7em;
            border: .1em solid rgba(0, 0, 0, .08);
            text-align: center;
            font: italic bold 1em/1.5em Georgia, serif;
            color: #444;
            border-radius: 1.5em;
        }
    }
}