input,
textarea {
    padding: 10px;
    border: 1px solid $gray-light;
    color: $gray-dark;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    width: 100%
}

input[type="submit"] {
    @include linear-gradient($white, $gray-light, $fallback:$gray-light);
    @include transition(all, 50ms, ease-in-out);
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 30px;

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        -o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
}

.form-group {
    margin-bottom: 11px;
}